mixin footer
  footer.pb-1
    p AS91893 Develop a Digital Media Outcome 4cr
    p &copy; Justin Muirhead under the BSD-3-Clause License &#128526; Te Kura
    p 
      small Some parts may be copyright under a different license
    p Contact information:
    p 404 contact information not found
  script(src="../ts/main.ts")
