mixin head
  head
    title Beautiful New Zealand
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href="../scss/styles.scss", rel="stylesheet", type="text/css")
    link(
      href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap",
      rel="stylesheet"
    )
    link(href="../img/favicon.png", rel="shortcut icon")
