doctype html
html(lang="en")

head
  title Beautiful New Zealand
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  link(href="../scss/styles.scss" rel="stylesheet" type="text/css")
  link(href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet")
  link(href="../img/favicon.png" rel="shortcut icon")

body

  header
    a(href="index.pug")
      img.logo(src="../img/NewZealandLogo.png" alt="New Zealand logo")
       

  nav
    a(href="#") Beaches
    a(href="#") Bush
    a(href="#") Mountains
    a(href="icons.pug") Icons
    a.active(href="contact.pug") Contact

  <footer>
    p AS91893 Develop a Digital Media Outcome 4cr
    p  &copy; Your Name &#128526; Te Kura
    p Contact information:
      a href="mailto:yourname@your.email">Your Name.
  </footer>

</body>


</html>
