doctype html
html(lang="en")
  include ../includes/head-er.pug

  +header("icons")

  h2 New Zealand's Iconic Landscape

  p You can travel the length and breadth of New Zealand and at every turn experience breath taking scenery. Some of New Zealand's famous scenery include Milford Sound, Hobbiton, Tongariro National Park, the McKenzie Country to name a few. Some you can drive to, take a boat to or hike to.

  include ../includes/footer.pug
  +footer
